<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    #toggle {
    position: fixed;
    top: 20px; 
    right: 50px; 
}

</style>
<body style="text-align:center;">
    <div >
        <h1 style="color: blue;">Welcome to Clinic Appointment System</h1>
        <div id="noOfBookings" style="color: rgb(0, 80, 44);">
        </div>
        <div id="nextBookingDate" style="color: rgb(0, 80, 44);">
        </div>
        
    </div>
    <div id="toggle">
        <h3>Menu</h3>
        <a href="../appointment/bookAppointment.html">Book Appointment</a><br>
        <a href="../appointment/myAppointment.html">My Appointments</a><br>
        <button id="logout" onclick="logout()">Logout</button>
    </div>

    
    <script src="./home.js">
    </script>
</body>
</html>
