<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Appointments</title>
</head>
<body style="text-align:center;">
    <a href="../home/home.html" style="position: absolute; top: 10px; right: 10px;">Go To Home Page</a>
    <h1>My Appointments</h1>
    <div id="appointmentsContainer">

    </div>
</body>
</html>
<script src="./myAppointment.js">
  
</script>